// Add Option Error
.add-option-error {
  color: $off-white;
  font-style: italic;
  padding: 0 4.5rem;
  margin: 1.6rem 0 0 0;
}

.add-option {
  display: flex;
  flex-direction: column;
  padding: 1.6rem;

  @include respond(atSmall) {
    flex-direction: row;
  }

  &__input {
    background: $dark-blue;
    border: none;
    color: $off-white;
    border-bottom: .3rem solid darken($dark-blue, 10%);
    flex-grow: 1;
    outline: none;
    margin: 0 0 1.2rem 0;
    padding: 1.2rem;

    @include respond(atSmall) {
      margin: 0 1.2rem 0 0;
    }
  }
}